/*VIDEO HEADER*/
header{
    position: relative;
        H1{
        position: absolute;
        @include diseño-titulos;
        font-size: 100px;
        color: $fondo-amarillo;
        top: 41%;
        left: 17%;}}

          
/*SEDES NUEVAS*/
.NuevasSedes{ 
    .titulo{
        @include diseño-titulos;}
    .Almagro{
            @include estilos-sedes;
            text-align: center;}
            .parrafos{
                @include estilos-letra-chica;}

    .Hurlingan {
            @include estilos-sedes;
            font-weight: bold;}

        .parrafos{
            @include estilos-letra-chica;}}

/*DEMÁS SEDES*/

.demasSedes ul{
    border-style: unset;
    margin-left: map-get($map: $posicionamiento, $key:margen-left)-15 !important ;
    border-radius: 15px;
    margin-bottom: map-get($map: $posicionamiento, $key:margen-bottom)-3;
    background-color: $fondo-amarillo;;
    text-align: center;
    transition: transform 0.5s; 
    &:hover{
            transform:scale(1.1,1.1);}}

.parallax1{
    background-size: cover;
    width: $ancho-imagenes;
    height: 50vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("https://images.pexels.com/photos/1552245/pexels-photo-1552245.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    .titulo{
        padding-top:7%;
        margin-left: map-get($map: $posicionamiento, $key:margen-left)-10;
        @include diseño-titulos;
        font-size: 450%;
        color:$fondo-amarillo;
        }}

.parallax2{
    @extend .parallax1;
    background-image: url("https://images.pexels.com/photos/4761352/pexels-photo-4761352.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    .titulo{
        padding-top:7%;
        margin-left: map-get($map: $posicionamiento, $key:margen-left)-10;
        @include diseño-titulos;
        font-size: 450%;
        color:$fondo-amarillo;}}

.parallax3{
    @extend .parallax1;
    background-image: url("https://images.pexels.com/photos/1552242/pexels-photo-1552242.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    .titulo{
        padding-top:7%;
        margin-left: map-get($map: $posicionamiento, $key:margen-left)-10;
        @include diseño-titulos;
        font-size: 450%;
        color:$fondo-amarillo;}}


.DetalleSedes ul{
    margin-top: 1%;
    margin-bottom: 1%;
    .barrio{
        @include estilos-subtitulos;
    }
    .direcciones{
        font-family: poppins;
        font-weight: 1.3rem;
        font-weight: bold;}
    .direcciones a{
        background-color: $fondo-amarillo;
        text-decoration: none;
        color: #050505;
        font-weight: bold;
        text-decoration: underline;
        padding: 0 0.25rem;
        margin: 0 -0.25rem;
        transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
        &:hover{
            color: #ffffff;
            background-color: #000000;
            text-decoration: none;}}}

